* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 16px;
}
@font-face {
    font-family: GillSansReg;
    src: url(fonts/gillSans.otf);
  }
  @font-face {
    font-family: GillSansBold;
    src: url(fonts/gillSansBold.otf);
  }
.nav-wrapper {
    font-family: GillSansBold;
    height: 90px;
    width: 100%;
    position: fixed;
  }
  .nav-wrapper nav {
    font-family: GillSansBold;
    max-width: 980px;
    height: 90px;
    margin: 0 auto;
    border-bottom: solid 2px black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-wrapper nav .logo {
    font-family: GillSansBold;
    position: relative;
    width: 92px;
    height: 42px;
    border: solid 2px black;
    font-family: GillSansBold;
    font-size: 35px;
  }
  .nav-wrapper nav .logo span {
    font-family: GillSansBold;
    position: absolute;
    bottom: -5px;
    color: black;
  }
  .nav-wrapper nav .links {
    font-family: GillSansBold;
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-family: GillSansBold;
    font-size: 20px;
  }
  .nav-wrapper nav .links a {
    font-family: GillSansBold;
    text-decoration: none;
    color: black;
  }
  .nav-wrapper nav .links span {
    font-family: GillSansBold;
    color: #EE4367;
  }
  
  @media only all and (max-width: 980px) {
    .nav-wrapper nav {
      padding: 0 30px;
    }
  }
  @media only all and (max-width: 800px) {
    .nav-wrapper nav {
      padding: 0 10px;
    }
  }

  .space {
height: 100px;
  }


.gallery {
    max-width: 980px;
    min-height: 378px;
    margin: 0 auto 0 auto;
}

.gallery span {
    font-family: GillSansBold;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: solid 2px black;
    padding-right: 50px;
    padding-bottom: 20px;
}

.images {
    margin-top: 50px;
}

.images div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.rowOne {
display: flex;
justify-content: space-between;
margin-bottom: 30px;
}

.imageOne {
width: 498px;
height: 187px;
background-image: linear-gradient(
    rgba(255, 209, 64, 0.7),
    rgba(255, 209, 64, 0.7)
),
url(../images/1.png);;
}

.imageTwo {
    width: 187px;
    height: 187px;
    background-image: linear-gradient(
        rgba(238, 67, 103, 0.7),
        rgba(238, 67, 103, 0.7)
    ),
    url(../images/2.jpeg);;
}

.imageThree {
    width: 265px;
    height: 187px;
    background-image: linear-gradient(
        rgba(8, 173, 105, 0.7),
        rgba(8, 173, 105, 0.7)
    ),
    url(../images/3.jpg);;
}

.imOne {
    width: 603px;
    height: 306px;
    background-image: linear-gradient(
        rgba(84, 13, 110, 0.7),
        rgba(84, 13, 110, 0.7)
    ),
    url(../images/4.jpg);;
}
.imTwo {
    width: 355px;
    height: 306px;
    background-image: linear-gradient(
        rgba(59, 206, 171, 0.7),
        rgba(59, 206, 171, 0.7)
    ),
    url(../images/5.png);;
}

.rowTwo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    }
@media (max-width: 944px) {
    .rowOne {
        display: block;
    }

    .rowOne div{
        margin: 0 auto 20px auto;
        width: 800px;
    }
}

@media (max-width: 806px) {
    .rowOne div{
        width: 600px;
    }
}
@media (max-width: 944px) {
    .rowTwo {
        display: block;
    }

    .rowTwo div{
        margin: 0 auto 20px auto;
        width: 800px;
    }
}

@media (max-width: 806px) {
    .rowTwo div{
        width: 600px;
    }
}

.foot-wrapper {
    height: 465px;
    width: 100%;
    background-color: #ee4367;
  }
  .foot-wrapper footer {
    height: 455px;
    background-color: #ee4367;
  }
  .foot-wrapper footer .bop {
    height: 50px;
  }
  .foot-wrapper footer .logo {
    position: relative;
    width: 92px;
    height: 42px;
    border: solid 2px #ffffff;
    font-family: GillSansBold;
    font-size: 35px;
    margin: auto;
  }
  .foot-wrapper footer .logo span {
    position: absolute;
    bottom: -5px;
    color: #ffffff;
  }
  .foot-wrapper footer .phone {
    color: #ffffff;
    font-family: GillSansBold;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
  }
  .foot-wrapper footer .signup {
    position: relative;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin: auto;
  }
  .foot-wrapper footer .signup input {
    width: 529px;
    height: 100%;
    background-color: #f56b88;
    border: none;
    color: rgb(238, 67, 103);
    font-size: 16px;
    margin: auto;
    margin-left: 500px;
  }
  .foot-wrapper footer .signup ::-webkit-input-placeholder {
    color: rgb(238, 67, 103);
    opacity: 1;
    font-family: GillSansBold;
  }
  .foot-wrapper footer .signup ::-moz-placeholder {
    color: rgb(238, 67, 103);
    opacity: 1;
    font-family: GillSansBold;
  }
  .foot-wrapper footer .signup :-ms-input-placeholder {
    color: rgb(238, 67, 103);
    opacity: 1;
    font-family: GillSansBold;
  }
  .foot-wrapper footer .signup ::-ms-input-placeholder {
    color: rgb(238, 67, 103);
    opacity: 1;
    font-family: GillSansBold;
  }
  .foot-wrapper footer .signup ::placeholder {
    color: rgb(238, 67, 103);
    opacity: 1;
    font-family: GillSansBold;
  }
  .foot-wrapper footer .signup .button {
    width: 167px;
    background-color: #ffffff;
    padding-top: 20px;
    font-family: GillSansBold;
    color: #EE4367;
    margin: auto;
    padding-bottom: 20px;
    margin-right: 467px;
  }
  .foot-wrapper footer .social {
    height: 31px;
    width: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #ffffff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    float: left;
    margin-left: 100px;
  }
  .foot-wrapper footer .copy {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #F7A1B3;
    font-family: GillSansBold;
    padding-top: 50px;
  }
  
  @media only all and (max-width: 980px) {
    .foot-wrapper footer {
      padding: 0 30px;
    }
  }